.theme-text-color {
    color: rgb(177, 177, 179);
}

.theme-border-color {
    background-color: #020B1A;
}

.theme-color-l1 {
    background-color: #283A5A;
}

.theme-color {
    background-color: #172946;
}

.theme-color-d1 {
    background-color: #0A1830;
}

.theme-color-d2 {
    background-color: #020B1A;
}

.bkblack {
    background-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.grid {
    display: grid;
}

body {
    /* grid-gap: 6px; */
    grid-template-rows: 1fr 200px;
    grid-template-columns: 300px 1fr 500px;
}

body {
    background: #f0f0f0;
}

body>div {
    /* background: white; */
    /* border: 1px solid; */
    /* box-shadow: 1px 1px 1px black; */
}

div {
    position: relative;
}

.ellipsis {
    display: table-cell !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

button,
.button,
.list-button,
.list-item-button,
.draggable {
    cursor: pointer;
}

.button {
    background-color: #285a47;
}

.tab-container {
    position: relative;
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
}

.tab-hilighter {
    border-bottom: 2px solid;
    transition: transform 200ms ease;
}

.tab-content-container {
    height: calc(100% - 32px);
}

.tab-content {
    height: 100%;
}

.tab-content {
    box-sizing: border-box;
    padding-top: 10px;
}

#inputList {
    grid-row: 1 / 3;
    grid-column: 1;
    padding: 10px;
}

#layoutArea {
    grid-column: 2;
    grid-row: 1;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}

#layoutWrap {
    width: 100%;
    height: 100%;
}

#sceneAudioList {
    grid-column: 2;
    grid-row: 2;
    padding: 10px 0;
}

#cnv {
    position: absolute;
    box-sizing: border-box;
}

#bkCnv,
#bbCnv {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#controlPanelConainer {
    grid-column: 3;
    grid-row: 1 / 3;
    padding: 10px;
    overflow-y: auto;
}

.list-container {
    height: 200px;
    margin-top: 10px;
}

.list-container>div {
    width: 100%;
    height: calc(100% - 30px);
}

.list-title {
    display: inline-block;
    width: 100%;
}

.transition-container {
    float: right;
    display: flex;
    align-items: center;
    font-size: small;
}

.transition-container>* {
    margin: 0 4px;
}

.list-button-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.list-button-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-button {
    width: 30px;
    height: 100%;
    float: left;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    user-select: none;
}

.list-button:hover {
    background-color: gray;
}

.list-body {
    height: 100%;
    overflow-y: auto;
}

.list-body.selectable .item.selected {
    background-color: #284f5a;
}

.list-item-button {
    justify-content: center;
    opacity: 0.2;
}

.list-item-button.on {
    opacity: 1;
}


#inputList .item {
    width: calc(100% - 30px);
    margin: 10px auto;
    overflow: hidden;
}

#cameraList .item,
#desktopList .item,
#imageList .item {
    grid-template-rows: 30px auto;
}

#videoList .item,
#audioList .item {
    grid-template-rows: 30px auto 20px;
}

.screen-buttons-container button {
    border: none;
}

#micList .item,
#mixerList .item {
    grid-template-rows: 30px 10px 20px;
    grid-template-columns: 1fr;
}

#mixerList .item {
    margin: 10px;
}

#sceneList .item,
#sourceList .item {
    grid-template-rows: 26px;
    grid-template-columns: 1fr 30px;
}

#sourceList .item {
    grid-template-columns: .5em 26px 26px 1fr .5em auto .5em 55px .5em;
}

#sourceList .item>*,
#mixerList .item>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mixerList .item:nth-child(n + 2) {
    margin-top: .5em;
}

.item-header {
    font-size: smaller;
    /* width: calc(100% - 1em); */
}

#inputList .item-header,
#mixerList .item-header,
#sceneAudioList .item-header {
    line-height: 30px;
    background: rgba(0, 0, 0, .5);
    padding: 0 .5em;
}

#micList .item-header {
    grid-row: 1;
    grid-column: 1;
    padding: 0 .5em;
    display: flex;
    align-items: center;
}

#desktopList .item-header {
    text-align: left;
}

#audioList .item-header,
#videoList .item-header,
#imageList .item-header,
#textList .item-header,
#sceneAudioList .item-header {
    width: calc(100% - .5em);
    padding: 0 0 0 .5em;
    grid-template-columns: 1fr 26px;
}

#mixerList .item-header {
    position: relative;
    grid-row: 1;
    grid-column: 1 / 4;
    display: grid !important;
    grid-template-columns: 1fr 30px;
}

#sceneList .item-name {
    padding: 0 .5em;
    line-height: 26px;
}

.item-playing-position {
    position: absolute;
    top: 30px;
    width: 1px;
    left: -1px;
    height: 30px;
    border: 1px solid red;
    box-sizing: border-box;
    transform: translateX(-50%);
}

#audioList .item-playing-position {
    height: calc(100% - 50px);
}

.item-player-controller-container {
    grid-row: 3;
    color: black;
}

#micList .item-player-controller-container {
    grid-row: 3;
    grid-column: 1;
}

.item-audio-meter {
    position: absolute;
    left: 0;
    top: 0;
    background: green;
    height: 100%;
}

.item-audio-meter-container {
    grid-row: 2;
    grid-column: 1;
}

#sceneAudioList .item-audio-meter-container {
    grid-row: 2;
    grid-column: 1;
    position: absolute;
    left: 0;
    top: 30px;
    height: 30px;
}

.item-volume-value {
    float: right;
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}

.item-volume {
    grid-row: 2;
    grid-column: 1;
}

.item-error {
    color: red;
    grid-row: 2;
    grid-column: 1 / 4;
}

.item-special {
    grid-column: 2;
}

.item-visibility {
    grid-column: 2;
}

.item-locked {
    grid-column: 3;
}

.item-360 {
    font-weight: 900;
    grid-column: 6;
}

.item-3d {
    font-weight: 900;
    grid-column: 8;
}

.item-remove-button {
    cursor: pointer;
    line-height: 30px;
    grid-column: 2;
}

#cameraList .list-body {
    overflow-y: auto;
    position: relative;
    width: 100%;
}

#cameraList video,
#desktopList video,
#audioList .waveform,
#videoList video,
#imageList img,
#sceneAudioList img {
    width: 100%;
    height: auto;
    grid-row: 2;
}

#audioList .item-audio {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#desktopList {
    text-align: center;
}

.screen-buttons-container {
    margin-top: 10px;
}

#sceneAudioList .list-body {
    grid-template-rows: repeat(auto-fit, minmax(60px, auto));
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

#sceneList div,
#sourceList div {
    box-sizing: border-box;
}

#sceneList .list-body,
#sourceList .list-body {
    height: calc(100% - 30px);
}

#audioList .item-name,
#videoList .item-name,
#imageList .item-name,
#sceneList .item-name {
    grid-column: 1;
}

#sourceList .item-name {
    grid-column: 4;
    line-height: 26px;
}

#mixerList .item.error {
    grid-template-rows: 30px 30px;
    grid-template-columns: 1fr 0;
}

#mixerList .item-name::before {
    content: 'マイク：'
}

#mixerList .item-name {
    float: left;
    grid-row: 1;
    grid-column: 1;
}

#mixerList .item-muted {
    grid-row: 2;
    grid-column: 2;
}

#mixerList .item-settings {
    grid-row: 2;
    grid-column: 3;
    cursor: pointer;
}

.transition .list-button {
    float: right;
}

.transition>div {
    border: none;
}

#transitionTime {
    width: 70px;
}

.broadcast-button-container {
    bottom: 0;
    height: 70px;
}

#btnBroadcast {
    width: calc(100% - 20px);
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

.dialog-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    padding: 10px;
}

.dialog input {
    width: 100%;
}

.dialog-button-container {
    padding-top: 10px;
    text-align: center;
}

.dialog-button {
    cursor: pointer;
    display: inline-block;
    width: 100px;
}

.dialog-dontaskmeagain {
    text-align: center;
    cursor: pointer;
}

.dialog-dontaskmeagain .checkbox {
    font-size: 1em;
    display: inline-block;
    height: 1em;
    position: relative;
}

.dialog-dontaskmeagain .checkbox i {
    font-size: 1em;
    vertical-align: top;
    visibility: hidden;
}

.dialog-dontaskmeagain.checked .checkbox i {
    visibility: visible;
}

.dialog-radiobuttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-radioitem {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-family: monospace;
}

.dialog-radioitem.selected {
    background: black;
}

.dialog-radioitem:nth-child(n + 2) {}

.flowlist {
    position: absolute;
    display: none;
    padding: 5px;
}

.flowlist.media {
    background: black;
    font-size: 10px;
}

.flowlist.show {
    display: block;
}

.flowlist-item {
    cursor: pointer;
    padding: 0 2px;
}

.flowlist-item:nth-child(n + 2) {
    padding-top: .5em;
}

.flowlist-item:hover {
    background: #283A5A;
}

.flowlist.media .flowlist-item:hover {
    color: black;
}

.player-controller {
    grid-template-rows: 20px;
    grid-template-columns: 24px 1fr 24px 60px;
    width: 100%;
    cursor: pointer;
    background: white;
}

#micList .player-controller,
#mixerList .player-controller {
    grid-template-columns: 24px 1fr;
}

.play-button,
.volume-button {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
}

.volume-button {
    grid-column: 3;
}

#micList .volume-button,
#mixerList .volume-button {
    grid-column: 1;
}

.seek-container,
.volume-container {
    position: relative;
    grid-column: 2;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.volume-container {
    grid-column: 4;
    padding-right: 16px;
}

#micList .volume-container,
#mixerList .volume-container {
    grid-column: 2;
}

.seek-bar-container,
.volume-bar-container {
    height: 4px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.seek-bar,
.volume-bar {
    background: black;
    position: absolute;
    width: 0;
    height: 100%;
}

.seek-point,
.volume-point {
    border-radius: 100%;
    left: calc(100% - 8px);
    width: 16px;
    height: 16px;
    background: black;
    position: relative;
    top: -6px;
    pointer-events: none;
}

.drop-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: initial;
    border: 3px dashed;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    display: none;
}

.list-body::-webkit-scrollbar,
#controlPanelConainer::-webkit-scrollbar {
    width: 10px;
    background-color: #020b1a;
}

.list-body::-webkit-scrollbar-thumb,
#controlPanelConainer::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: white;
}

.list-body::-webkit-scrollbar-track,
#controlPanelConainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #585c65;
}

